<script>
	import { onMount } from 'svelte';
	import Player from '../components/Player.svelte';
	import { authSpotify } from '../services/spotify';
	let hasAccess = false;

	onMount(async () => {
		try {
			while (!hasAccess) {
				await authSpotify();
				hasAccess = true;
			}
		} catch (error) {
			hasAccess = false;
			console.error('Error al obtener las canciones:', error);
		}
	});
</script>

<div class="bg-container">
	<div class="container">
		{#if hasAccess}
			<Player />
		{/if}
	</div>
</div>

<style>
	:global(body) {
		/* this will apply to <body> */
		margin: 0;
		font-family: 'Roboto', sans-serif;
	}
	.bg-container {
		background-image: url('https://marketplace.canva.com/EAFQ4d2ZFLw/1/0/800w/canva-black-minimalist-aesthetic-desktop-wallpaper-EGhV5UBy5qc.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100vh;
		position: relative;
	}

	.bg-container::before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100vh;
		top: 0;
		right: 0;
	}

	.container {
		display: flex;
		background: rgba(50, 50, 50, 0.6);
		width: 100%;
		height: 100vh;
		filter: blur(0px);
		align-content: center;
		align-items: center;
		justify-content: center;
		/* From https://css.glass */
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(15px);
		-webkit-backdrop-filter: blur(15px);
	}
</style>
