<script>
	// @ts-nocheck

	import { onMount } from 'svelte';
	import { getFiveSongs } from '../services/spotify';
	import { goto } from '$app/navigation';

	/**
	 * @type {{ songs: any; }[]}
	 */
	let songs = [];
	let name = '';
	let artist = '';
	let image = '';
	let song = '';
	let currentSong = 0;
	let audio;
	let isReproducing = false;
	let duration;
	let currentTime;
	let canChangeTime = true;
	let lastSongTime;
	let volume;
	let lastVolume;

	const getSongData = () => {
		name = songs[currentSong].name;
		image = songs[currentSong].album.images[1].url;
		song = songs[currentSong].preview_url;
		artist = songs[currentSong].artists[0].name;
		lastVolume = volume;
	};
	onMount(async () => {
		try {
			songs = await getFiveSongs();
			getSongData();
		} catch (error) {
			goto('/');
			console.error('Error al obtener las canciones:', error);
		}
	});

	const onReproduce = () => {
		isReproducing = !isReproducing;
		if (isReproducing) {
			audio.play();
			getSongData();
			return;
		}
		audio.pause();
	};

	const onNextSong = () => {
		currentSong++;
		if (currentSong > 4) {
			currentSong = 0;
		}
		getSongData();
		setTimeout(() => {
			isReproducing = false;
			onReproduce();
		}, 100);
	};

	const onPreviousSong = () => {
		currentSong--;
		if (currentSong < 0) {
			currentSong = 4;
		} else {
		}
		getSongData();
		setTimeout(() => {
			isReproducing = false;
			onReproduce();
		}, 100);
	};

	const onSongEnd = () => {
		onNextSong();
	};

	const onChangeTime = () => {
		canChangeTime = !canChangeTime;
		lastSongTime = currentTime;
	};

	const onHandleChangeTime = (e) => {
		audio.pause();
		currentTime = e.target.value;
		audio.play();
		isReproducing = true;
	};

	const onChangeVolume = (e) => {
		volume = e.target.value / 100;
		lastVolume = volume;
	};

	const onMuted = () => {
		volume = 0
		lastVolume = volume;
	}

	const onMaxVolume = () => {
		volume = 1
		lastVolume = volume;
	}
</script>

<div class="container">
	<div class="image-container">
		<img src={image} alt="song" class="image" />
	</div>
	<div class="player--container">
		<div class="track--info__container">
			<p class="song--name">{name}</p>
			<p class="song--artist">{artist}</p>
		</div>
		<div>
			<div class="player-container">
				<audio
					on:ended={onSongEnd}
					src={song}
					bind:this={audio}
					bind:duration
					bind:currentTime
					bind:volume
				>
					<source src={song} type="audio/mpeg" />
				</audio>
			</div>
		</div>
		<div class="controls__container">
			<div class="progress__container">
				<span class="song--artist"
					>{Math.round(currentTime).toString().length > 1 ? '00:' : '00:0'}{Math.round(
						currentTime
					)}</span
				>
				<div class="progress--bar--main__container">
					{#if !canChangeTime}
						<div
							class="progress--bar progress--bar__container"
							on:mouseenter={onChangeTime}
							aria-hidden="true"
						>
							<div class="progress--bar" style:width={(currentTime / duration) * 100 + '%'}></div>
						</div>
					{:else}
						<input
							on:mouseleave={onChangeTime}
							on:click={onHandleChangeTime}
							class="progress--bar progress--bar__container"
							type="range"
							min="0"
							max={duration}
							value={lastSongTime}
						/>
					{/if}
				</div>
				<span class="song--artist"
					>{Math.round(duration).toString().length > 1 ? '00:' : '00:0'}{Math.round(duration)}</span
				>
			</div>
			<div class="player--controls__container">
				<button class="play--botton" on:click={onPreviousSong}>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="currentColor"
						class="reproduce--icons"
					>
						<path
							d="M9.195 18.44c1.25.713 2.805-.19 2.805-1.629v-2.34l6.945 3.968c1.25.714 2.805-.188 2.805-1.628V8.688c0-1.44-1.555-2.342-2.805-1.628L12 11.03v-2.34c0-1.44-1.555-2.343-2.805-1.629l-7.108 4.062c-1.26.72-1.26 2.536 0 3.256l7.108 4.061z"
						/>
					</svg>
				</button>
				<button class="play--botton" on:click={onReproduce}>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="currentColor"
						class="reproduce--icons {isReproducing ? 'hidden' : ''}"
					>
						<path
							fill-rule="evenodd"
							d="M4.5 5.653c0-1.426 1.529-2.33 2.779-1.643l11.54 6.348c1.295.712 1.295 2.573 0 3.285L7.28 19.991c-1.25.687-2.779-.217-2.779-1.643V5.653z"
							clip-rule="evenodd"
						/>
					</svg>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="currentColor"
						class="reproduce--icons {!isReproducing ? 'hidden' : ''}"
					>
						<path
							fill-rule="evenodd"
							d="M6.75 5.25a.75.75 0 01.75-.75H9a.75.75 0 01.75.75v13.5a.75.75 0 01-.75.75H7.5a.75.75 0 01-.75-.75V5.25zm7.5 0A.75.75 0 0115 4.5h1.5a.75.75 0 01.75.75v13.5a.75.75 0 01-.75.75H15a.75.75 0 01-.75-.75V5.25z"
							clip-rule="evenodd"
						/>
					</svg>
				</button>
				<button class="play--botton" on:click={onNextSong}>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 24 24"
						fill="currentColor"
						class="reproduce--icons"
					>
						<path
							d="M5.055 7.06c-1.25-.714-2.805.189-2.805 1.628v8.123c0 1.44 1.555 2.342 2.805 1.628L12 14.471v2.34c0 1.44 1.555 2.342 2.805 1.628l7.108-4.061c1.26-.72 1.26-2.536 0-3.256L14.805 7.06C13.555 6.346 12 7.25 12 8.688v2.34L5.055 7.06z"
						/>
					</svg>
				</button>
			</div>
			<div class="volume--container">
				<button class="icon--container" on:click={onMuted}>
					<img
						src="https://cdn-icons-png.flaticon.com/512/4042/4042395.png"
						alt=""
						title=""
						class="icon"
					/>
				</button>
				<div class="volume--bar__container">
					<input
						on:click={onChangeVolume}
						type="range"
						min="0"
						max="100"
						step="1"
						value={lastVolume * 100}
					/>
				</div>
				<button class="icon--container" on:click={onMaxVolume}>
					<img
						src="https://cdn-icons-png.flaticon.com/512/6996/6996058.png"
						alt=""
						title=""
						class="icon"
					/>
				</button>
			</div>
		</div>
	</div>
</div>

<style>
	.container {
		display: flex;
		flex-direction: column;
		background: #00000080;
		border-radius: 1rem;
		opacity: 0.9;
		width: 300px;
		color: #ffffff90;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
		backdrop-filter: blur(15px);
		-webkit-backdrop-filter: blur(15px);
	}
	.image-container {
		margin: 1.5rem;
		border-radius: 1rem;
	}
	.image {
		border-radius: 1rem;
		width: 100%;
	}
	.track--info__container {
		display: flex;
		flex-direction: column;
	}
	p {
		margin: 0;
	}
	.song--artist {
		font-size: 0.8rem;
	}
	.song--name {
		font-size: 0.9;
		font-weight: bold;
		color: #fff;
	}
	.player--controls__container {
		display: flex;
		justify-content: center;
	}
	.player--container {
		gap: 2;
		padding-left: 2rem;
		padding-right: 2rem;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.reproduce--icons {
		width: 2rem;
		color: #fff;
	}
	.hidden {
		display: none;
	}
	.play--botton {
		width: 3rem;
		background: none;
		border: none;
		border-radius: 50%;
		cursor: pointer;
	}
	.progress__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.progress--bar--main__container {
		display: flex;
		width: 100%;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	.progress--bar {
		height: 5px;
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 5px;
	}
	.progress--bar__container {
		width: 100%;
		background-color: rgba(255, 255, 255, 0.1);
	}
	.controls__container {
		display: flex;
		padding-top: 1rem;
		padding-bottom: 1rem;
		flex-direction: column;
		gap: 0.5rem;
	}
	.volume--container {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}
	.volume--bar__container {
		display: flex;
		width: 100%;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		align-items: center;
	}
	.icon--container{
		display: flex;
		width: 15%;
		background: transparent;
		border: none;
		padding: none;
		margin: none;
		cursor: pointer;
	}
	.icon{
		width: 80%;
		height: 15px;
		margin: auto;
		filter: invert(100%);
		opacity: .5;
	}
	input[type='range'] {
		overflow: hidden;
		-webkit-appearance: none;
		background-color: rgba(255, 255, 255, 0.1);
		outline: none;
		width: 100%;
		height: 5px;
		margin: 0;
	}

	/* Estilo del riel */
	input[type='range']::-webkit-slider-runnable-track {
		cursor: pointer;
		margin: 0;
		width: 100%;
		height: 5px;
	}

	/* Estilo del control deslizante */
	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		cursor: pointer;
		box-shadow: -407px 0 0 400px rgba(255, 255, 255, 0.5);
	}

	/* Cambiar color del thumb al hacer hover
	input[type='range']::-webkit-slider-thumb:hover {
		background: #555;
	} */
</style>
